# Esercizi

## Esercizio 1

Nota: il dataset non ha un encoding UTF-8 ma Latin1; inoltre il separatore non è una virgola, ma un punto e virgola. Dunque per leggerlo dovremo aggiungere i parametri encoding= e sep=, ad esempio: pd.read_csv(file_path, encoding="latin1", sep=";") 2 dove file_path è la posizione del file nel nostro calcolatore.

Esaminiamo il dataset: • quanti dati ci sono in totale? • quali sono i metadati? • stampiamo il primo elemento • stampiamo l'ultimo elemento • riusciamo a stampare un elemento a caso? • quali sono gli anni di inserimento presenti? • quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46? • quante attività ci sono nella provincia di Vicenza? • quante enoteche ci sono, e come si chiamano? 3 • quante attività ci sono in Lazio e Abruzzo assieme?

In [6]:
import pandas as pd
import numpy as np
import math as m

In [7]:
df_bar = pd.read_csv('Mappa-dei-pub-circoli-locali-in-Italia.csv', encoding="latin1", sep=";")
df_bar

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,ALA DI STURA,CITTA' METROPOLITANA DI TORINO,Piemonte,NaN,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2630,BARLETTA,BARLETTA-ANDRIA-TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2631,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2632,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2633,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [6]:
df_bar.shape

(2635, 9)

In [7]:
df_bar.columns

Index(['Comune', 'Provincia', 'Regione', 'Nome', 'Anno inserimento',
       'Data e ora inserimento', 'Identificatore in OpenStreetMap',
       'Longitudine', 'Latitudine'],
      dtype='object')

In [9]:
df_bar.head(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [10]:
df_bar.tail(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [11]:
df_bar.sample(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
1292,POVOLETTO,UDINE,Friuli-Venezia Giulia,The Bridge House,2013,2013-03-14T23:02:11Z,2202513960,13.28129,46.113295

In [16]:
df_bar.value_counts('Anno inserimento')
df_bar['Anno inserimento'].unique()

array([2011, 2015, 2010, 2012, 2014, 2016, 2013, 2008, 2009, 2007],
      dtype=int64)

In [42]:
filtro_lat45 = df_bar.loc[:, 'Latitudine'] >= 45
filtro_lat46 = df_bar.loc[:, 'Latitudine'] <= 46

filtro_lat = filtro_lat45 & filtro_lat46
filtro_lat

0        True
1       False
2        True
3        True
4        True
        ...
2630    False
2631    False
2632    False
2633    False
2634    False
Name: Latitudine, Length: 2635, dtype: bool

In [43]:
filtro_long9 = df_bar.loc[:, 'Longitudine'] >= 9
filtro_long10 = df_bar.loc[:, 'Longitudine'] <= 10

filtro_long = filtro_long9 & filtro_long10
filtro_long

0       False
1       False
2        True
3       False
4       False
        ...
2630    False
2631    False
2632    False
2633    False
2634    False
Name: Longitudine, Length: 2635, dtype: bool

In [39]:
filtro = filtro_lat & filtro_long
df_bar['Nome'].loc[filtro].count()

277

In [45]:
vicenza = df_bar.loc[:, 'Provincia'] == 'VICENZA'
df_bar.loc[vicenza].count()

Comune                             73
Provincia                          73
Regione                            73
Nome                               69
Anno inserimento                   73
Data e ora inserimento             73
Identificatore in OpenStreetMap    73
Longitudine                        73
Latitudine                         73
dtype: int64

In [15]:
eno_list = ['Vin', 'Eno', 'Enoteca', 'Cantina', 'Wine', 'Osteria']
eno_from_df = []
for i in eno_list:
    for nome in df_bar['Nome']:
        if type(nome) == str and i in nome:
            eno_from_df.append(nome)

eno_from_df

['Pout Pourrì Vintage Cafè',
 'Vineria del Pozzo',
 'Vinyl',
 'Vinile Disco Pub',
 'Vinile Lato B',
 'Vini e Cucina Blasi',
 'Vini e Cucina Blasi',
 'Vini e Olii',
 'Vini e Olii',
 'Enoteca con Cucina""Tirolin""',
 'Enotika',
 'Concordia Enoteca',
 'Enostrano',
 'Enoteca Umberto',
 'Enoteca ""Al Brindisi""',
 'Enoteca ""da Massimo""',
 'Enoteca Il Violino Rosso',
 'Enos Pub',
 'Enoteca con Cucina""Tirolin""',
 'Concordia Enoteca',
 'Enoteca Umberto',
 'Enoteca ""Al Brindisi""',
 'Enoteca ""da Massimo""',
 'Enoteca Il Violino Rosso',
 'La Cantina dei Giusti',
 'Cantina del Gega',
 'Cantina del Pozzo',
 'La Cantina di Pasquale',
 'La Cantina delle Streghe',
 'Il Dodo Beer Wine and Food',
 'Wine & Cofee sound',
 'Cortivo Risto Wine Pub',
 'Sottosopra Food Beer and Wine',
 'Sottosopra Food Beer and Wine',
 'Beer & Wine Shop',
 'Osteria della Luna',
 'Osteria delle Erbe',
 'Osteria della Birra',
 'Osteria Il Bianchino',
 'Osteria del Party',
 'Osteria Sottovento',
 'Osteria Pub Al Laghet',
 'Osteria Bottiglieria Zampieri - La Mandorla',
 'Osteria Fuori Porta',
 'Osteria La Cantineta',
 'Osteria La Caneva',
 'Vecchia Osteria Bertiaga',
 'Osteria Moderna',
 'Osteria Posmon',
 'Osteria Senza Oste',
 'Osteria ""Amici Miei""',
 'Osteria Antica Adelaide',
 'Osteria Antica Adelaide',
 'Osteria Portego',
 'Osteria Portego',
 'Osteria 2 Draghi',
 'Osteria Candoni',
 "Osteria all'Orso",
 'Osteria Rive Grande',
 'Osteria Di Fuoriporta',
 'Osteria della birra artigianale / Kr?ma pri dom',
 'Osteria da Giovanni',
 'Osteria Solferino',
 'Osteria del Lupo',
 'Osteria del Dolce e Salato',
 "Osteria Pub L'Ariosto",
 "Osteria Pub L'Ariosto",
 'Osteria La Vecchia',
 'Osteria Garibaldi']

In [57]:
filtro_abruzzo = df_bar.loc[:, 'Regione'] == 'Abruzzo'
filtro_lazio = df_bar.loc[:, 'Regione'] == 'Lazio'

filtro_regioni = filtro_abruzzo | filtro_lazio
df_bar['Anno inserimento'].loc[filtro_regioni].count()

337

Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute. • Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; • Quali sono le medie di charges rispetto a region? Ci sono differenze significative? • E rispetto a smoker? E a sex? • Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? usare metodo groupby

In [58]:
insurance = pd.read_csv('insurance.csv')

In [59]:
insurance.shape

(1338, 7)

In [60]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [61]:
insurance.sample(5)

      age     sex     bmi  children smoker     region      charges
1328   23  female  24.225         2     no  northeast  22395.74424
792    22  female  23.180         0     no  northeast   2731.91220
388    26  female  22.610         0     no  northwest   3176.81590
174    24  female  33.345         0     no  northwest   2855.43755
735    49  female  34.770         1     no  northwest   9583.89330

In [64]:
insurance.groupby('region').charges.mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [65]:
insurance.groupby('smoker').charges.mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [66]:
insurance.groupby('sex').charges.mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [69]:
insurance.groupby('bmi').charges.describe()

,count,mean,std,min,25%,50%,75%,max
bmi,,,,,,,,
15.960,1.0,1694.796400,NaN,1694.79640,1694.79640,1694.79640,1694.79640,1694.79640
16.815,2.0,4904.000350,2455.844784,3167.45585,4035.72810,4904.00035,5772.27260,6640.54485
17.195,1.0,14455.644050,NaN,14455.64405,14455.64405,14455.64405,14455.64405,14455.64405
17.290,3.0,7813.353433,4619.986089,3732.62510,5305.30260,6877.98010,9853.71760,12829.45510
17.385,1.0,2775.192150,NaN,2775.19215,2775.19215,2775.19215,2775.19215,2775.19215
...,...,...,...,...,...,...,...,...
48.070,1.0,9432.925300,NaN,9432.92530,9432.92530,9432.92530,9432.92530,9432.92530
49.060,1.0,11381.325400,NaN,11381.32540,11381.32540,11381.32540,11381.32540,11381.32540
50.380,1.0,2438.055200,NaN,2438.05520,2438.05520,2438.05520,2438.05520,2438.05520
52.580,1.0,44501.398200,NaN,44501.39820,44501.39820,44501.39820,44501.39820,44501.39820
53.130,1.0,1163.462700,NaN,1163.46270,1163.46270,1163.46270,1163.46270,1163.46270

In [74]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data" 
column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"] # questo csv non ha intestazioni
iris = pd.read_csv(url, names=column_names)

Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo: • La media della lunghezza dei petali di tutto il dataset • La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby() • Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()

In [76]:
iris['petal_length'].mean()

3.758666666666666

In [77]:
iris.groupby('species').petal_length.mean()

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [79]:
iris.groupby('species').sepal_width.agg(['min', 'max', 'mean'])

                 min  max   mean
species
Iris-setosa      2.3  4.4  3.418
Iris-versicolor  2.0  3.4  2.770
Iris-virginica   2.2  3.8  2.974

il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini: • Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? • C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? • Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? • E per i solfati?

In [81]:
wine = pd.read_csv('wine.csv')
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [82]:
wine.groupby('quality').alcohol.mean()

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [83]:
wine.alcohol.mean()

10.491800831149453

In [84]:
wine.groupby('type').alcohol.mean()

type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [86]:
wine.groupby('quality').pH.mean()

quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

In [87]:
wine.groupby('type').pH.mean()

type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [88]:
wine.groupby(['type', 'quality']).alcohol.mean()

type   quality
red    3           9.955000
       4          10.265094
       5           9.899706
       6          10.629519
       7          11.465913
       8          12.094444
white  3          10.345000
       4          10.152454
       5           9.808840
       6          10.575372
       7          11.367936
       8          11.636000
       9          12.180000
Name: alcohol, dtype: float64

In [89]:
wine.groupby(['type', 'quality']).pH.mean()

type   quality
red    3          3.398000
       4          3.381509
       5          3.304949
       6          3.318072
       7          3.290754
       8          3.267222
white  3          3.187500
       4          3.182883
       5          3.168833
       6          3.188599
       7          3.213898
       8          3.218686
       9          3.308000
Name: pH, dtype: float64

In [92]:
wine.groupby(['type', 'quality']).sulphates.mean()

type   quality
red    3          0.570000
       4          0.596415
       5          0.620969
       6          0.675329
       7          0.741256
       8          0.767778
white  3          0.474500
       4          0.476135
       5          0.482203
       6          0.491106
       7          0.503102
       8          0.486229
       9          0.466000
Name: sulphates, dtype: float64

In [93]:
wine.sulphates.mean()

0.5312682776666154

il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal Census Service degli Stati Uniti sulle abitazioni nell'area di Boston. Di seguito vengono descritte le colonne del dataset: 
* CRIM -tasso di criminalità pro capite per città
*  ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati.
*  INDUS - percentuale di acri di attività commerciali non al dettaglio per città.
*  CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
*  NOX -concentrazione di ossidi di azoto (parti per 10 milioni).
*  RM -numero medio di stanze per abitazione
*  AGE -proporzione di unità abitative occupate da proprietari costruite prima del 1940
*  DIS - distanze ponderate da cinque centri occupazionali di Boston
*  RAD -indice di accessibilità alle autostrade radiali
*  TAX -aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari
*  PTRATIO - rapporto alunni-insegnanti per città
*  BLACK -la percentuale di neri per città
*  LSTAT - % di popolazione di condizione più bassa
*  MEDV -Valore mediano delle case, espresso in migliaia di dollari

La media del prezzo delle case cambia a seconda della distanza dal fiume Charles? • Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato? • Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato? • Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?

In [101]:
boston = pd.read_csv('boston.csv')

In [100]:
boston_corr = boston.corr()
boston_corr

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
zn,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
indus,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
chas,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
nox,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
rm,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
age,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
dis,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
rad,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
tax,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
ptratio,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
black,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
lstat,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
medv,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

In [106]:
boston.groupby('ptratio').rm.mean()

ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64

In [107]:
boston.groupby('medv').rm.mean()

medv
5.0     5.5680
5.6     5.9870
6.3     5.8520
7.0     4.9665
7.2     6.0180
         ...
46.7    7.6860
48.3    8.2470
48.5    7.8530
48.8    8.3980
50.0    7.4840
Name: rm, Length: 229, dtype: float64

In [108]:
boston.rm.mean()

6.284634387351779

In [109]:
boston.medv.mean()

22.532806324110677

In [110]:
boston.groupby('rad').age.mean()

rad
1     45.025000
2     64.770833
3     49.310526
4     60.841818
5     69.223478
6     60.142308
7     40.141176
8     67.350000
24    89.805303
Name: age, dtype: float64

In [111]:
boston.groupby('tax').age.mean()

tax
187    36.100000
188    89.071429
193    75.487500
198    24.800000
216    48.620000
         ...
432    81.744444
437    97.173333
469    47.600000
666    89.805303
711    94.260000
Name: age, Length: 66, dtype: float64

In [113]:
boston.groupby('rm').age.mean()

rm
3.561     87.9
3.863    100.0
4.138    100.0
4.368     91.2
4.519    100.0
         ...
8.375     93.9
8.398     91.5
8.704     86.9
8.725     83.0
8.780     82.9
Name: age, Length: 446, dtype: float64

Esercizio 1/3 Abbiamo un DataFrame di dipendenti: employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })

E un DataFrame di dipartimenti: departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge() • Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join() • Ci sono differenze nel risultato? Quali? Perché?

In [114]:
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })

In [115]:
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

In [118]:
general_df = pd.merge(left=employees_df, right=departments_df, how = 'left', on = 'department_id')
general_df = general_df.set_index('department_id')
general_df

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [124]:
employees = employees_df.set_index('department_id')
departments = departments_df.set_index('department_id')

another_general_df = employees.join(departments)
another_general_df

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame • Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey • Controlliamo la dimensione del DataFrame risultante: è quella attesa? • Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey • Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region) • Valutiamo la media del BaseRate per ogni paese: ci sono differenze?

In [126]:
%run Connection.ipynb

In [161]:
dimemployee = pd.read_sql('SELECT * FROM dimemployee', db_engine)
dimemployee.shape

(296, 28)

In [159]:
dimemployeesalesterritory = pd.read_sql('SELECT * FROM dimemployeesalesterritory', db_engine)
dimemployeesalesterritory.shape

(39, 2)

In [157]:
new_df = pd.merge(left = dimemployee, right = dimemployeesalesterritory, how = 'left', on = 'EmployeeKey')
new_df.shape

(317, 29)

In [153]:
dimsalesterritory = pd.read_sql('SELECT * FROM dimsalesterritory', db_engine)
dimsalesterritory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,11,0,Corporate HQ,Corporate HQ,Corporate HQ,None

In [166]:
another_df = pd.merge(left = new_df, right = dimsalesterritory, how = 'left', on = 'SalesTerritoryKey')
another_df.shape

(317, 34)

In [167]:
another_df.groupby('SalesTerritoryCountry').BaseRate.mean()

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64

In [162]:
another_df.groupby('SalesTerritoryRegion').EmployeeKey.count()

SalesTerritoryRegion
Australia         3
Canada            4
Central           5
France            4
Germany           3
Northeast         3
Northwest         5
Southeast         4
Southwest         5
United Kingdom    3
Name: EmployeeKey, dtype: int64